* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fffbf5;
  color: #fff;
  height: 100%;
}

/* navbaar start */
header {
  font-family: "Poppins", sans-serif;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 3.6%;
  background-color: #674188;
  border-bottom: 2px solid yellowgreen;
}
.navbar .navbar-nav a {
  font-weight: 400;
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}
.navbar-logo {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  margin: 0 1rem;
}

/* navbar end */

/* hero section home*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero .content {
  padding: 0rem 5%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 3.5rem;
  color: #674188;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content p {
  font-size: 1.5rem;
  color: yellowgreen;
  margin-top: 1rem;
  line-height: 1.3;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(1, 1, 3, 0.5);
}
/* hero end home*/

/* hero start course */
.herocommunity {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/course-01.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.herocommunity .content {
  padding: 1.3rem 5%;
  max-width: 60rem;
}
.herocommunity .content h1 {
  font-size: 3.5rem;
  color: #674188;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.herocommunity .content p {
  font-size: 1.5rem;
  color: yellowgreen;
  margin-top: 1rem;
  line-height: 1.3;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(1, 1, 3, 0.5);
}
.cta-community {
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  background: #674188;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
/* hero end course */

.img-content {
  border-radius: 0.5rem;
}
.extra .title h1 {
  font-size: 2rem;
  color: #2c8500;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
}
.flex-item {
  width: 285px;
  margin: 10px;
}
.flex-item button {
  padding: 10px 30px;
  color: #fff;
  background: #2c8500;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.p1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}
.p2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 20px 0px;
}
.flex-container {
  display: flex;
  background: #fffbf5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  box-sizing: content-box;
}
.flex-container2 {
  display: flex;
  background: #fffbf5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  box-sizing: content-box;
}
.flex-content1 {
  width: 20vw;
  margin: 10px;
  margin-bottom: 50px;
  padding: 20px 35px;
  background-color: #c3acd0;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.flex-content {
  width: 20vw;
  margin: 10px;
  margin-bottom: 50px;
  padding: 20px 20px;
  background-color: #c3acd0;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.flex-content2 {
  width: 41vw;
  margin: 15px;
  margin-bottom: 50px;
  padding: 20px 20px;
  background-color: #c3acd0;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.flex-content3 {
  width: 41vw;
  margin: 15px;
  padding: 20px 20px;
  background-color: #c3acd0;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
img {
  width: 100%;
}

.flex-content h2 {
  color: #fff;
  margin: 20px 0px;
}
.flex-content p {
  color: #fff;
}
button {
  padding: 10px 30px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background: #674188;
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
}
button a {
  color: #fff;
}

/* course */
.main-content {
  display: flex;
  padding: 1.3rem 5%;
}
.course-content {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: #fffbf5;
  border-bottom: 2px solid yellowgreen;
  padding: 1.3rem 5%;
  color: #2c8500;
  position: relative;
}
.flex-container-course {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.flex-content-course {
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 75%;
  min-width: 23%;
  height: 100%;
  margin: 10px;
  padding: 20px 20px;
  background-color: #c3acd0;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.flex-maincontent-course {
  flex: 2;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 200%;
  height: auto;
  margin: 10px;
  padding: 20px 20px;
  background-color: #c3acd0;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.content-button {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0.5rem 0;
  width: 100%;
}
.flex-maincontent-course img {
  width: 50%;
}
.p3 {
  text-align: justify;
  padding: 0 1rem;
  font-size: 0.9rem;
  line-height: auto;
}
.footer {
  height: 100px;
  width: 100%;
  background-color: #674188;
  text-align: center;
  padding: 1.8rem;
  z-index: 9999;
}
